<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Due</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for event <- @events do %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.due %></td>
    </tr>
<% end %>
  </tbody>
</table>
